.header
  %h1.logo
    %span.first Santa Barbara
    %span.second Swell Check
  .navigation
    %ul.nav-list
      %li.nav-item
        %a.nav-link{:href => "#seven-day-forecast"} Seven Day Forecast
      %li.nav-item
        %a.nav-link{:href => "#swell-direction"} Harvest Buoy Swell Direction
      %li.nav-item
        %a.nav-link{:href => "#regional-swell-models"} SoCal Swell Model
      %li.nav-item
        %a.nav-link{:href => "#local-swell-models"} SB Swell Model
      %li.nav-item
        %a.nav-link{:href => "#tide-chart"} Tide Chart
      %li.nav-item
        %a.nav-link{:href => "#current-wind"} Current Wind
      %li.nav-item
        %a.nav-link{:href => "#offshore-wave-height"} Offshore Wave Heights