.content
  %section#seven-day-forecast.module
    %h2.module-title Seven Day Forecast
    .module-content
      %img{:src => "http://cdip.ucsd.edu/recent/forecast/buoy_ww3.gd?stn=071&stream=p1&pub=public&tz=PDT&units=english"}/
  %section#swell-direction.module
    %h2.module-title Harvest Buoy Swell Direction
    .module-content
      %img{:src => "http://cdip.ucsd.edu/recent/observed/polar_combo.gd?stn=071&stream=p1&pub=public&tz=PDT&units=english&xmax_freq=0.16"}/
  %section#regional-swell-models.module
    %h2.module-title Southern California Swell Model
    .module-content
      %img{:src => "http://cdip.ucsd.edu/models/socal_now.gif"}/
  %section#local-swell-models.module
    %h2.module-title Santa Barbara Swell Model
    .module-content
      %img{:src => "http://cdip.ucsd.edu/recent/model_images/sb_channel.png"}/
  %section#tide-chart.module
    %h2.module-title Tide Chart
    .module-content
      %img{:src => "http://www.lajollasurf.org/tideImage.php?location=Rincon+Island"}/
  %section#current-wind.module
    %h2.module-title Current Wind Conditions
    .module-content
      %img{:src => "http://www.sccoos.org/data/coamps/analyses/searange/wshr00.png"}/
  %section#offshore-wave-height.module
    %h2.module-title Offshore Wave Height Forecast
    .module-content
      %img{:src => "http://cdip.ucsd.edu/recent/model_images/fc_summary.png"}/